<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>SLV</title>
  <meta content="" name="description">

  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/img/slv.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Template Main CSS File -->
  <link th:href="@{assets/css/style.css}" rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
<!--     <?php include 'inc/header.php' ?> -->
    <!-- ======= Hero Section ======= -->
    <div class="container" style="margin-top:150px; min-height:90vh;">
        <h1>Shopping Cart</h1>
<div class="container" style="margin-top:10%; border:1px">
  <div class="row">
    <div class="col-lg-6 hero-img">
      <div class="container-slider">
        <button class="btn left-btn hide">
          <i class="fa fa-chevron-circle-left"></i>
        </button>

        <div class="carousel-container">
          <ul class="carousel">
            <!-- Image slides here -->
          </ul>
        </div>

        <!-- Right navigation button based on the number of images -->
        <button class="btn right-btn">
          <i class="fa fa-chevron-circle-right"></i>
        </button>

        <!-- Navigation dots based on the number of images -->
        <div class="nav">
          <div class="dot active"></div>
          <!-- Additional dots based on the number of images -->
        </div>
      </div>
    </div>

    <div class="col-lg-6 d-flex flex-column">
      <h3 style="font-weight:1000">Product Title</h3>

      <!-- Product price -->
      <h4 style="padding:20px;background-color: #eee6ff; text-align:center; font-weight:1000">RM 50 - RM 100</h4>

      <!-- Product description -->
      <textarea name="" id="" cols="30" rows="10" disabled>This is the product description.</textarea>

      <!-- Variation options -->
      <div class="option" style="display:flex; margin-top:10px;">
        <h4 style="font-weight:1000">Variation : </h4>
        <form action="inc/addtocart.php" method="POST">
          <ul style="list-style-type: none;">
            <!-- Variation options here -->
          </ul>
      </div>

      <!-- Quantity selection -->
      <div class="option" style="display:flex; margin-bottom:20px;">
        <h4 style="font-weight:1000">Quantity : </h4>
        <div class="quantity buttons_added" style="margin-left:30px;">
          <input type="button" value="-" class="minus">
          <input type="number" step="1" min="1" max="" name="quantity" id="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" onchange="box_quan();">
          <input type="button" value="+" class="plus">
        </div>
      </div>

      <!-- Date Arrival -->
      <div class="option" style="display:flex; margin-bottom:20px;">
        <h5 style="font-weight:1000">Date Arrival : </h5>
        <input type="date" name="fdate" onfocus="this.min=new Date().toISOString().split('T')[0]">
      </div>

      <!-- Date Departure -->
      <div class="option" style="display:flex; margin-bottom:20px;">
        <h5 style="font-weight:1000">Date Departure : </h5>
        <input type="date" name="fdate" onfocus="this.min=new Date().toISOString().split('T')[0]">
      </div>

      <!-- Hidden product ID input -->
      <input type="text" value="123" name="prodid" id="prodid" hidden>

      <!-- Add to cart button -->
      <div class="btn-prod">
        <button type="submit" name="submit" value="submit" class="go-to-btn">Add to cart <i class='fa fa-shopping-cart'></i></button>
        <p class="form-message"></p>
      </div>
    </div>
  </div>
</div>

<div class="container" 
  <!-- Review section -->
  <h1>Review ( 5 )</h1>
</div>

<!-- Review cards -->
<div class="container" style="margin-top:50px">>
  <div class="card">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <!-- User profile picture -->
            <img src="images/profile/profile-pic.jpg" style="border-radius:50%;object-fit:scale-down;  width: 70px;">
          </div>
          <div class="col-lg-6 d-flex flex-column">
            <!-- Review details -->
            <h1>Username</h1>
            <p>Variation: Product Variation</p>
            <hr>
            <p>This is the review content.</p>
            <p style="font-size:12px; text-align:right"> Date: January 1, 2024 - 3:30 PM</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




    <!-- ======= Footer ======= -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <strong><span>Sungai Lopo Village</span></strong>. All Rights Reserved
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>
</html>
