<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a th:href="@{/index}" class="logo d-flex align-items-center">
            <img th:src="@{assets/img/logo.png}" alt="">
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a style="text-decoration: none;" class="nav-link scrollto" th:href="@{/index}">Home</a></li>
                <li><a class="nav-link scrollto" th:href="@{/product}">Facilities</a></li>

                <li th:if="${#session.containsKey('User')}">
                    <a style="text-decoration: none;" class="nav-account">
                        <span class="material-icons">account_circle</span>
                        <span th:text="${#session['User']}"></span> <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li><a style="text-decoration: none;" th:href="@{/profile}">Profile</a></li>
                        <li><a style="text-decoration: none;" th:href="@{/inc/logout}">Logout</a></li>
                        <li class="dropdown">
                            <a style="text-decoration: none;" href="#"><span>Setting</span> <i class="bi bi-chevron-right"></i></a>
                            <ul>
                                <li><a style="text-decoration: none;" th:href="@{/updateprofile}">Update Profile</a></li>
                                <li><a style="text-decoration: none;" th:href="@{/updatepassword}">Change Password</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a class="nav-account" style="text-decoration: none;" th:href="@{/cart}"><span
                            class="material-icons">shopping_cart</span></a></li>

                <li th:if="${#session.containsKey('Admin')}">
                    <a style="text-decoration: none;" class="nav-account">
                        <span class="material-icons">account_circle</span>
                        <span th:text="${#session['Admin']}"></span> <i class="bi bi-chevron-down"></i>
                    </a>
                    <ul>
                        <li><a style="text-decoration: none;" th:href="@{/admindashboard}">Dashboard</a></li>
                        <li><a style="text-decoration: none;" th:href="@{/productadmin}">Update Facilities</a></li>
                        <li><a style="text-decoration: none;" th:href="@{/postads}">Post new ads</a></li>
                        <li><a style="text-decoration: none;" th:href="@{/signupadmin}">Register New staff</a></li>
                        <li><a style="text-decoration: none;" th:href="@{/inc/logout}">Logout</a></li>
                    </ul>
                </li>
                <li th:unless="${#session.containsKey('User') or #session.containsKey('Admin')}">
                    <a style="text-decoration: none;" class="nav-account signup" th:href="@{/login}">Customer
                        Login</a>
                    <li><a style="text-decoration: none;" class="nav-account signup" th:href="@{/admin}">Admin
                            Login</a></li>
                    <li><a style="text-decoration: none;" class="nav-account signup"
                            th:href="@{/loginstaff}">Staff Login</a></li>
                </li>

            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
